<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Delete product</title>
</head>
<body>
<h1>Enter id of product you would like to delete: </h1><br>
<form action="/product/delete" method="POST">
    Product ID: <input type="text" name="productId"required/> <br/><br>
    <input type="submit" value="Delete Product"/>
</form>
<br>
<form action="/product/delete/all" method="GET">
    <input type="hidden" name="action" value="afterDeletingPage">
    <button type="submit" name="Delete_all">Delete all Products</button>
</form>
<br/><br>
<#if errorMessage??>
<head>
    <title>${errorMessage}!</title>
</head>
<body>
<h2> ${errorMessage}!</h2>
</body>
</#if>
</body>
</html>