<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1>Change the required values:</h1><br>
<form method="post" action="/product/edit">
    <table width="50%" cellspacing="0" cellpadding="4" border="1">
        <thead style="background-color:silver">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <#list Products as product>
        <tr>
            <td><input type="hidden" name="id" value="${product.id}"></td>
            <td><input type="text" name="productName" value="${product.name}"required></td>
            <td><input type="number" name="price" value="${product.price}"required></td>
        </tr>
        </#list>
        </tbody>
    </table>
    <button type = "submit" name = "Edit Product" style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Edit Product</button>
</form>
<form action="/index.html" method="GET">
    <button style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Return to the starting page</button>
</form>
</body>
</html>
