<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Change the required values:</h1><br>
    <#list Product as product>
    <form action="/product/edit" method="POST">
        <div class="form-group">
            <input type="hidden" name="id" value="${product.id}">
        </div>
        <div class="form-row align-items-center">
            <div class="col-sm-3 my-1">
                <input type="text" class="form-control" id="inlineFormInputName" name="productName" placeholder="${product.name}" required>
            </div>
            <div class="col-sm-3 my-1">
                <div class="input-group">
                    <input type="number" class="form-control" id="inlineFormInputGroupUsername" name="price" placeholder="${product.price}" required>
                </div>
            </div>
            <div class="col-auto my-1">
            </div>
            <div class="col-auto my-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</#list>
</div>
</body>
</html>
