<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
</head>
<body>
<h1>PRODUCT HAS BEEN SUCCESSFULLY UPDATED!</h1><br>
<form action="/product/add" method="GET">
    <button style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 30pt;">Add another product</button>
</form>
<form action="/index.html" method="GET">
    <button style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 30pt;">Return to the starting page</button>
</form>
</body>
</html>