<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
</head>
<body>
<h1>ALL PRODUCTS HAVE BEEN DELETED!</h1><br>
<form action="/product/add" method="GET">
    <button style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Add Product</button>
</form>
<form action="/index.html" method="GET">
    <button style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Return to the starting page</button>
</form>
<form action="/product/delete" method="GET">
    <input type="hidden" name="action" value="deleteProductPage">
    <button type = "submit" name = "DeleteById" style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Delete another Product</button>
</form>
</body>
</html>