<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>All Goods</title>
</head>
<body>
<h1>Available goods:</h1><br>
<table width="50%" cellspacing="0" cellpadding="4" border="1">
    <thead style="background-color:silver">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Creation Date</th>
    </tr>
    </thead>
    <tbody>
    <#list Products as product>
    <tr>
        <td>${product.id}</td>
        <td>${product.name}</td>
        <td>${product.price}</td>
        <td>${product.creationDate}</td>
    </tr>
    </#list>
    </tbody>

</table>
<form action="/filter" method="get">
    <label for="sort-by">Sort by:</label>
    <select id="sort-by" name="sortBy">
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="date">Date</option>
    </select>
    <button type="submit">Filter</button>
</form>
<table>
    <tr>
        <td>
            <form action="/product/add" method="GET">
                <button type = "submit" name = "addNewProduct" style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Add New Product</button>
            </form>
            <form action="/product/search" method="GET">
                <button type = "submit" name = "searchProduct" style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Edit Product</button>
            </form>
            <form action="/product/delete" method="GET">
                <input type="hidden" name="action" value="deleteProductPage">
                <button type = "submit" name = "deleteProduct" style="background-color:#333333;color:#00FF00;border-radius:5px;font-size: 20pt;">Delete Product</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
